.videopopup__text { font-size: 2.8rem; }

.navpanel__primarynav { font-size: calc( 15.29412px + 1.47059vw); }

@media (min-width: 1001px) { .navpanel__primarynav { font-size: 2.60417vw; } }

.blogitems__title { font-size: calc( 12px + 0.625vw); }

.locationsform__heading { font-size: calc( 1.4rem + 3vw); }

@media (max-width: 600px) { .locationsform__form { padding: .5em 1em 0; } }
